StepFunctions.json
{
  "Comment": "Wait for user inactivity then consolidate messages",
  "StartAt": "CheckInactivity",
  "States": {
    "CheckInactivity": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123465789012:function:CheckMessageFreshnessLambda",
      "ResultPath": "$.checkResult",
      "Next": "ShouldWait?"
    },
    "ShouldWait?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.checkResult.should_wait",
          "BooleanEquals": true,
          "Next": "WaitForInactivity"
        }
      ],
      "Default": "ConsolidateMessages"
    },
    "WaitForInactivity": {
      "Type": "Wait",
      "SecondsPath": "$.checkResult.wait_seconds",
      "Next": "CheckInactivity"
    },
    "ConsolidateMessages": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123465789012:function:MessageConsolidatorLambda",
      "ResultPath": "$.consolidationResult",
      "End": true
    }
  }
}
